body {
  background-color: #0d121d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#app {
  width: 100%;
}

#toptext {
  color: rgb(231, 78, 78);
}

#bottomtext {
  color: rgb(78, 78, 231);
}

#topcard {
  width: 100vw;
}

#computer i {
  color: rgb(231, 78, 78);
}

#player1 i {
  color: rgb(78, 78, 231);
}

#center {
  height: 40%;
  transform: translateY(10%);
}

#bottom {
  height: 30%;
  transform: translateY(-2%);
}

.ff-star-wars {
  font-family: 'star-wars', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  width: 100%;
  font-size: 1.2rem;
}

.card {
  max-width: 140px;
}

.playericon {
  font-size: 4rem;
}

.ptext {
  color: white;
  font-size: 1.2rem;
}

#centertext {
  font-size: 1.2rem;
  text-align: center;
  width: 100vw;
}

#gamebtn {
  font-family: inherit;
  font-size: 0.9rem;
  margin-top: 2rem;
}

#deckmid1 {
  display: inline-block;
  position: relative;
  transform: rotate(-25deg);
}

#deckmid2 {
  display: inline-block;
  position: relative;
  transform: rotate(25deg);
}

svg {
  transform: scale(85%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingwheel {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 40px;
  height: 40px;
  border: 12px solid black;
  border-top: 12px solid orange;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@media (max-width: 1600px) {
  .card {
    max-width: 120px;
  }
}

@media (max-width: 1200px) {
  .card {
    max-width: 100px;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 80px;
  }
  .playericon {
    font-size: 2.5rem;
  }
  #centertext {
    font-size: 1rem;
  }
  .ptext {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .card {
    max-width: 50px;
  }
  .playericon {
    font-size: 1rem;
  }
  #centertext {
    font-size: 0.9rem;
  }
  .ptext {
    font-size: 0.9rem;
  }
}

@media (max-width: 325px) {
  .card {
    max-width: 40px;
  }
  .playericon {
    display: none;
  }
  #centertext {
    font-size: 0.8rem;
  }
  .ptext {
    font-size: 0.8rem;
  }
}
