body {
  background-image: url('../png/stars2.png');
  /* Original Source - Unsplash: https://unsplash.com/photos/OjxsirfohHU */
  background-size: contain;
  background-repeat: repeat;
  background-color: #0d121d;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#app {
  width: 100%;
}

#game {
  background-color: #0d121d;
  background-size: cover;
  width: 50%;
  margin-top: 1%;
}

#toptext {
  color: rgb(240, 133, 133);
}

#bottomtext {
  color: rgb(133, 133, 240);
}

#topcard {
  width: 100vw;
}

#computer i {
  color: rgb(240, 133, 133);
}

#player1 i {
  color: rgb(133, 133, 240);
}

#center {
  height: 40%;
  transform: translateY(9%);
}

#bottom {
  height: 30%;
  transform: translateY(-8%);
}

.ff-star-wars {
  font-family: 'star-wars', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  width: 100%;
  font-size: 1rem;
}

.card {
  max-width: 160px;
}

.deck-card {
  min-height: 220px;
}

.playericon {
  font-size: 6.5rem;
}

.ptext {
  color: white;
  font-size: 1.2rem;
}

#timer {
  font-size: 1rem;
}

#centertext {
  font-size: 1.2rem;
  text-align: center;
  width: 100vw;
  transform: translateY(-5%);
}

#gamebtn {
  font-family: inherit;
  font-size: 0.9rem;
  margin-top: 2rem;
  width: 150px;
  height: 40px;
}

#resetbtn {
  display: none;
}

#deckmid1 {
  display: inline-block;
  position: relative;
  transform: rotate(-25deg);
}

#deckmid2 {
  display: inline-block;
  position: relative;
  transform: rotate(25deg);
}

svg {
  transform: scale(85%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingwheel {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 40px;
  height: 40px;
  border: 12px solid black;
  border-top: 12px solid orange;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}
@media (max-width: 1600px) {
  .card {
    max-width: 130px;
  }
  .deck-card {
    min-height: 180px;
  }
  .playericon {
    font-size: 2.7rem;
  }
}

@media (max-width: 1400px) {
  .card {
    max-width: 120px;
  }
  .playericon {
    font-size: 2.5rem;
  }
  #centertext {
    font-size: 1.1rem;
  }
  .ptext {
    font-size: 1.1rem;
  }
  .deck-card {
    min-height: 170px;
  }
}

@media (max-width: 1300px) {
  .playericon {
    font-size: 2.2rem;
  }
  #timer {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .playericon {
    font-size: 2rem;
  }
  #game {
    width: 60%;
  }
}

@media (max-width: 800px) {
  #game {
    width: 70%;
  }
}
@media (max-width: 600px) {
  #game {
    width: 80%;
    margin-top: 0%;
  }
  .card {
    max-width: 45px;
  }
  .deck-card {
    min-height: 50px;
  }
  .playericon {
    font-size: 2rem;
  }
  #centertext {
    font-size: 1rem;
  }
  .ptext {
    font-size: 1rem;
  }
  #gamebtn {
    width: 120px;
    height: 35px;
  }
}

@media (max-height: 1200px) {
  .card {
    max-width: 95px;
  }
  .deck-card {
    min-height: 125px;
  }
  .playericon {
    font-size: 6rem;
  }
}
@media (max-height: 1000px) {
  .card {
    max-width: 90px;
  }
  .playericon {
    font-size: 5rem;
  }
  .deck-card {
    min-height: 120px;
  }
}

@media (max-height: 900px) {
  .playericon {
    font-size: 3.5rem;
  }
  .card {
    max-width: 80px;
  }
  .deck-card {
    min-height: 110px;
  }
}

@media (max-height: 850px) {
  .playericon {
    font-size: 3.2rem;
  }
  .card {
    max-width: 75px;
  }
  .deck-card {
    min-height: 100px;
  }
}

@media (max-height: 800px) {
  .card {
    max-width: 55px;
  }
  .playericon {
    font-size: 3rem;
  }
  .deck-card {
    min-height: 75px;
  }
}

@media (max-height: 750px) {
  .playericon {
    font-size: 2.2rem;
  }
}

@media (max-height: 700px) {
  .card {
    max-width: 52px;
  }
  .deck-card {
    min-height: 67px;
  }
  .playericon {
    font-size: 1.8rem;
  }
  #center {
    transform: translateY(-4%);
  }
  #bottom {
    transform: translateY(-20%);
  }
}

@media (max-height: 650px) {
  .card {
    max-width: 50px;
  }
  .deck-card {
    min-height: 65px;
  }
  .playericon {
    font-size: 1.6rem;
  }
  #center {
    transform: translateY(-5%);
  }
  #bottom {
    transform: translateY(-25%);
  }
}

@media (max-height: 600px) {
  .card {
    max-width: 45px;
  }
  .deck-card {
    min-height: 60px;
  }
  .playericon {
    display: none;
  }
  #center {
    transform: translateY(-8%);
  }
  #bottom {
    transform: translateY(-27%);
  }
}

@media (max-height: 550px) {
  .card {
    max-width: 40px;
  }
  .deck-card {
    min-height: 50px;
  }
  .playericon {
    font-size: 0.8rem;
  }

  #center {
    transform: translateY(-10%);
  }
  #bottom {
    transform: translateY(-32%);
  }
  #game {
    margin-top: 0;
  }
}

@media (max-height: 500px) {
  .card {
    max-width: 40px;
  }
  .deck-card {
    min-height: 45px;
  }
  .playericon {
    display: none;
  }

  #center {
    transform: translateY(-12%);
  }
  #bottom {
    transform: translateY(-37%);
  }
}

@media (max-height: 450px) {
  .card {
    max-width: 37px;
  }
  .deck-card {
    min-height: 40px;
  }
  #center {
    transform: translateY(-12%);
  }
  #bottom {
    transform: translateY(-54%);
  }
}

@media (max-width: 400px) {
  .card {
    max-width: 45px;
  }
  .deck-card {
    min-height: 55px;
  }
  .playericon {
    font-size: 2.5rem;
  }
  #centertext {
    font-size: 0.9rem;
  }
  .ptext {
    font-size: 0.9rem;
  }

  #game {
    width: 90%;
  }
}

@media (max-width: 325px) {
  .card {
    max-width: 40px;
  }
  .deck-card {
    min-height: 45px;
  }
  .playericon {
    font-size: 2rem;
  }
  #centertext {
    font-size: 0.8rem;
  }
  .ptext {
    font-size: 0.8rem;
  }

  #center {
    transform: translateY(-10%);
  }
  #bottom {
    transform: translateY(-25%);
  }
  #game {
    width: 95%;
  }
}

@media (max-width: 300px) {
  .playericon {
    font-size: 1.5rem;
  }
}

@media (max-width: 275px) {
  .playericon {
    display: none;
  }
  #centertext {
    font-size: 0.7rem;
  }
  .ptext {
    font-size: 0.7rem;
  }
}
