body {
  background-color: #0d121d;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#app {
  width: 100%;
  /* Center the dive vertically */
  padding: 60px 0;
}

#toptext {
  color: rgb(231, 78, 78);
}

#bottomtext {
  color: rgb(78, 78, 231);
}

#topcard {
  width: 100vw;
}

#computer i {
  color: rgb(231, 78, 78);
}

#player1 i {
  color: rgb(78, 78, 231);
}

#center {
  height: 40%;
  transform: translateY(9%);
}

#bottom {
  height: 30%;
  transform: translateY(-10%);
}

.ff-star-wars {
  font-family: 'star-wars', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  width: 100%;
  font-size: 1rem;
}

.card {
  max-width: 160px;
}

.deck-card {
  min-height: 220px;
}

.playericon {
  font-size: 3rem;
}

.ptext {
  color: white;
  font-size: 1.2rem;
}

#timer {
  font-size: 1rem;
}

#centertext {
  font-size: 1.2rem;
  text-align: center;
  width: 100vw;
  transform: translateY(-5%);
}

#gamebtn {
  font-family: inherit;
  font-size: 0.9rem;
  margin-top: 2rem;
  width: 150px;
  height: 40px;
}

#deckmid1 {
  display: inline-block;
  position: relative;
  transform: rotate(-25deg);
}

#deckmid2 {
  display: inline-block;
  position: relative;
  transform: rotate(25deg);
}

svg {
  transform: scale(85%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingwheel {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 40px;
  height: 40px;
  border: 12px solid black;
  border-top: 12px solid orange;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}
@media (max-width: 1600px) {
  .card {
    max-width: 130px;
  }
  .deck-card {
    min-height: 180px;
  }
  .playericon {
    font-size: 2.7rem;
  }
}

@media (max-width: 1400px) {
  .card {
    max-width: 120px;
  }
  .playericon {
    font-size: 2.5rem;
  }
  #centertext {
    font-size: 1.1rem;
  }
  .ptext {
    font-size: 1.1rem;
  }
  .deck-card {
    min-height: 170px;
  }
}

@media (max-width: 1300px) {
  .playericon {
    font-size: 2.2rem;
  }
  #timer {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .playericon {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 45px;
  }
  .deck-card {
    min-height: 50px;
  }
  .playericon {
    font-size: 2rem;
  }
  #centertext {
    font-size: 1rem;
  }
  .ptext {
    font-size: 1rem;
  }
  #gamebtn {
    width: 120px;
    height: 35px;
  }
}

@media (max-height: 1000px) {
  .card {
    max-width: 90px;
  }
  .playericon {
    font-size: 1.8rem;
  }
  .deck-card {
    min-height: 120px;
  }
}

@media (max-height: 800px) {
  .card {
    max-width: 55px;
  }
  .playericon {
    font-size: 1.6rem;
  }
  .deck-card {
    min-height: 75px;
  }
}

@media (max-height: 650px) {
  .card {
    max-width: 50px;
  }
  .deck-card {
    min-height: 65px;
  }
  .playericon {
    font-size: 1.3rem;
  }
  #app {
    transform: translateY(-5%);
  }
}

@media (max-height: 600px) {
  .card {
    max-width: 45px;
  }
  .deck-card {
    min-height: 60px;
  }
  .playericon {
    font-size: 1rem;
  }
  #app {
    transform: translateY(-7%);
  }
  #center {
    transform: translateY(-8%);
  }
  #bottom {
    transform: translateY(-25%);
  }
}

@media (max-height: 550px) {
  .card {
    max-width: 40px;
  }
  .deck-card {
    min-height: 50px;
  }
  .playericon {
    font-size: 0.8rem;
  }
  #app {
    transform: translateY(-9%);
  }
  #center {
    transform: translateY(-10%);
  }
  #bottom {
    transform: translateY(-30%);
  }
}

@media (max-height: 500px) {
  .card {
    max-width: 40px;
  }
  .deck-card {
    min-height: 45px;
  }
  .playericon {
    display: none;
  }
  #app {
    transform: translateY(-10%);
  }
  #center {
    transform: translateY(-12%);
  }
  #bottom {
    transform: translateY(-33%);
  }
}

@media (max-width: 400px) {
  .card {
    max-width: 45px;
  }
  .deck-card {
    min-height: 55px;
  }
  .playericon {
    font-size: 1rem;
  }
  #centertext {
    font-size: 0.9rem;
  }
  .ptext {
    font-size: 0.9rem;
  }
}

@media (max-width: 325px) {
  .card {
    max-width: 40px;
  }
  .deck-card {
    min-height: 45px;
  }
  .playericon {
    display: none;
  }
  #centertext {
    font-size: 0.8rem;
  }
  .ptext {
    font-size: 0.8rem;
  }
}
