body {
  background-color: #0d121d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#app {
  width: 100%;
  height: 100vh;
  transform: translateY(3%);
}

#top {
  height: 30%;
}

#toptext {
  color: rgb(231, 78, 78);
}

#bottomtext {
  color: rgb(78, 78, 231);
}

#computer i {
  color: rgb(231, 78, 78);
}

#player1 i {
  color: rgb(78, 78, 231);
}

#center {
  height: 40%;
}

#bottom {
  height: 30%;
  transform: translateY(-5%);
}

.ff-star-wars {
  font-family: 'star-wars', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  width: 100%;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
}

.playericon {
  font-size: 4rem;
}

.ptext {
  color: white;
  font-size: 1.2rem;
}

#centertext {
  font-size: 1.5rem;
}

#dealtbtn {
  font-family: inherit;
  font-size: 0.9rem;
  margin-top: 2rem;
}

#deckmid1 {
  display: inline-block;
  position: relative;
  transform: rotate(-25deg);
}

#deckmid2 {
  display: inline-block;
  position: relative;
  transform: rotate(25deg);
}

svg {
  transform: scale(85%);
}

@media (max-width: 1600px) {
  #game {
    transform: scale(95%) translateY(-3%);
  }
  .playericon {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  #game {
    transform: scale(90%) translateY(-5%);
  }
  svg {
    transform: scale(80%);
  }

  #bottom {
    transform: translateY(-7%);
  }

  #deckmid1 {
    transform: translateX(5%);
    transform: rotate(-25deg);
  }
  #deckmid2 {
    transform: translateX(-5%);
    transform: rotate(25deg);
  }
  .playericon {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  #game {
    transform: scale(70%) translateY(-20%);
  }
  svg {
    transform: scale(70%);
  }
  #center {
    transform: translateY(-8%);
  }

  #bottom {
    transform: translateY(-12%);
  }

  #deckmid1 {
    transform: translateX(10%);
  }
  #deckmid2 {
    transform: translateX(-10%);
  }
  .playericon {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  #game {
    transform: scale(55%), translateY(-40%);
  }
  svg {
    transform: scale(60%);
  }

  #topcard {
    transform: translateY(-12%);
  }
  #bottomcard {
    transform: translateY(12%);
  }

  #center {
    transform: translateY(-25%);
  }
  #bottom {
    transform: translateY(-80%);
  }
  #deckmid1,
  #deckmid2 {
    transform: rotate(0deg);
  }
  #deckmid1 {
    transform: translateX(15%);
  }
  #deckmid2 {
    transform: translateX(-15%);
  }
  #centertext {
    transform: scale(100%) translateY(-45%);
  }
  #dealbtn {
    transform: scale(100%);
    padding: 1rem;
  }
  .playericon {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  #game {
    transform: scale(50%) translateY(-50%);
  }
  #topcard {
    transform: translateY(-10%);
  }
  #bottomcard {
    transform: translateY(10%);
  }

  #center {
    transform: translateY(-28%);
  }

  #bottom {
    transform: translateY(-95%);
  }
  svg {
    transform: scale(55%);
  }
  #deckmid1 {
    transform: translateX(25%);
  }
  #deckmid2 {
    transform: translateX(-25%);
  }
  #centertext {
    transform: scale(95%) translateY(-50%);
    font-size: 1rem;
  }
  #startbtn {
    transform: scale(110%);
  }
  .playericon {
    display: none;
  }
}

@media (max-width: 275px) {
  #game {
    transform: scale(45%) translateY(-60%);
  }
  svg {
    transform: scale(50%);
  }
  #bottom {
    transform: translateY(-100%);
  }
  #deckmid1 {
    transform: translateX(30%);
  }
  #deckmid2 {
    transform: translateX(-30%);
  }
  #centertext {
    font-size: 0.8rem;
  }
  #centertext {
    font-size: 0.8rem;
  }
}
