:root {
  --dark-bg-color: #1f2937;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-dark {
  background-color: var(--dark-bg-color) !important;
}

.dark-theme {
  background-color: #0d121d;
  color: #dde4f3;
}

.ff-star-wars {
  font-family: "star-wars", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.navbar-brand {
  font-size: 2rem;
}

nav {
  font-size: 1.2rem;
}

.bg-cards {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 992px) {
  #hero {
    min-height: 400px;
  }

  .bg-cards {
    display: block;
  }

  .story {
    width: 50%;
  }

  section h2 {
    text-align: center;
  }

  #team > div:first-of-type p {
    width: 50%;
    margin: auto;
    text-align: center;
  }
}

footer {
  text-align: center;
  padding-top: 50px;
}

img {
  border-radius: 9999px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1.5rem;
}

/* Style all font awesome icons */
.socials {
  margin-bottom: -1.5rem;
}

.socials a .fab {
  color: #9ca3af;
}

.socials a:hover .fab {
  color: #cfd6e2;
}
